.global-nav {
 margin-left:0px;
 margin-right:0px;
 padding: 0px;
 width:50%;
 display:-ms-flexbox;
 display:flex;
 -ms-flex-direction:column;
 flex-direction:column;

}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
}

#about, #work, #contact {
    height: 75px;
}


/****** GRID ******/

.full-width {
    width: 1400px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
}


nav {
    float: right;
    padding: 75px 25px;
}


nav ul li{
    display: inline-block;
}


header h2 {
    width: 1000px;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 72px;
    line-height: 80px;
    color: #9b9b9b;
    padding: 20px 0 20px 25px;
}
header h2 span {
    color: #2b2b2b;
}

